<!-- inter-lesson links start -->
{% if page.path contains "lesson-" %}
  <nav>
    <a 
      href="{{page.name | replace: "lesson-", "more-" | remove_first: ".md"}}"
      >{{ site.data.translations['navigational-elements_more'][page.lang] }}</a>
    <br>
    {% if page.path contains "lesson-16" %}
      <a 
        href="language-01"
        >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
    {% else %}
        {% if page.name contains "lesson-1" or page.name contains "lesson-09" %}
          <a 
            href="lesson-{{page.name | remove_first: "lesson-" | remove_first: ".md" | plus: 1}}"
            >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
        {% else %}
          <a 
            href="lesson-0{{page.name | remove_first: "lesson-" | remove_first: ".md" | plus: 1}}"
            >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
        {% endif %}
    {% endif %}
  </nav>
{% endif %}

{% if page.path contains "more-" %}
  <nav>
    <a 
      href="{{page.name | replace: "more-", "lesson-" | remove_first: ".md"}}"
      >{{ site.data.translations['navigational-elements_return'][page.lang] }}</a>
    <br>
    {% if page.path contains "more-16" %}
      <a 
        href="language-01"
        >{{ site.data.translations['navigational-elements_nextmain'][page.lang] }}</a>
    {% else %}
      {% if page.name contains "more-1" or  page.name contains "more-09" %}
        <a 
          href="lesson-{{page.name | remove_first: "more-" | remove_first: ".md" | plus: 1}}"
          >{{ site.data.translations['navigational-elements_nextmain'][page.lang] }}</a>
      {% else %}
        <a 
          href="lesson-0{{page.name | remove_first: "more-" | remove_first: ".md" | plus: 1}}"
          >{{ site.data.translations['navigational-elements_nextmain'][page.lang] }}</a>
      {% endif %}
    {% endif %}
  </nav>
{% endif %}

{% if page.path contains "language-" %}
  <nav>
    {% if page.next  %}
      <a 
        href="{{page.next}}"
        >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
    {% else %}
      {% if page.name contains "language-1" or  page.name contains "language-09" %}
        <a 
          href="language-{{page.name | remove_first: "language-" | remove_first: ".md" | plus: 1}}"
          >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
      {% else %}
        <a 
          href="language-0{{page.name | remove_first: "language-" | remove_first: ".md" | plus: 1}}"
          >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
      {% endif %}
    {% endif %}
  </nav>
{% endif %}
<!-- inter-lesson links end -->
