<nav
  class="inter-lesson-navigation">
  {% if page.path contains "lesson-" %}

    <!-- Table of contents link start -->
    <a
      class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--toc"
      href="{{ "/" | absolute_url | append: page.lang | append: "/" }}#toc"
      >{{ site.data.translations['navigational-elements_toc'][page.lang] }}</a>
    <!-- Table of contents link end -->
    
    <a 
      class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--more"
      href="{{page.name | replace: "lesson-", "more-" | remove_first: ".md"}}"
      >{{ site.data.translations['navigational-elements_more'][page.lang] }}</a>
    {% if page.path contains "lesson-16" %}
      <!-- FIXME: https://github.com/learnlatex/learnlatex.github.io/issues/107 -->
      <a 
        class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--next"
        href="language-01"
        >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
    {% else %}
        {% if page.name contains "lesson-1" or page.name contains "lesson-09" %}
          <a 
            class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--next"
            href="lesson-{{page.name | remove_first: "lesson-" | remove_first: ".md" | plus: 1}}"
            >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
        {% else %}
          <a 
            class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--next"
            href="lesson-0{{page.name | remove_first: "lesson-" | remove_first: ".md" | plus: 1}}"
            >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
        {% endif %}
    {% endif %}
  {% endif %}

  {% if page.path contains "more-" %}
    <!-- Table of contents link start -->
    <a
      class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--toc"
      href="{{ "/" | absolute_url | append: page.lang | append: "/" }}#toc"
      >{{ site.data.translations['navigational-elements_toc'][page.lang] }}</a>
    <!-- Table of contents link end -->
    <a 
      class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--return"
      href="{{page.name | replace: "more-", "lesson-" | remove_first: ".md"}}"
      >{{ site.data.translations['navigational-elements_return'][page.lang] }}</a>
    <!-- FIXME: https://github.com/learnlatex/learnlatex.github.io/issues/107 -->
    {% if page.path contains "more-16" %}
      <a 
        class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--nextmain"
        href="language-01"
        >{{ site.data.translations['navigational-elements_nextmain'][page.lang] }}</a>
    {% else %}
      {% if page.name contains "more-1" or page.name contains "more-09" %}
        <a 
          class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--nextmain"
          href="lesson-{{page.name | remove_first: "more-" | remove_first: ".md" | plus: 1}}"
          >{{ site.data.translations['navigational-elements_nextmain'][page.lang] }}</a>
      {% else %}
        <a 
          class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--nextmain"
          href="lesson-0{{page.name | remove_first: "more-" | remove_first: ".md" | plus: 1}}"
          >{{ site.data.translations['navigational-elements_nextmain'][page.lang] }}</a>
      {% endif %}
    {% endif %}
  {% endif %}

  <!-- FIXME: https://github.com/learnlatex/learnlatex.github.io/issues/107 -->
  {% if page.path contains "language-" %}
    <!-- Table of contents link start -->
    <a
      class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--toc"
      href="{{ "/" | absolute_url | append: page.lang | append: "/" }}#toc"
      >{{ site.data.translations['navigational-elements_toc'][page.lang] }}</a>
    <!-- Table of contents link end -->
    {% if page.next %}
      <a 
        class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--next"
        href="{{page.next}}"
        >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
    {% else %}
      {% if page.name contains "language-1" or page.name contains "language-09" %}
        <a 
          class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--next"
          href="language-{{page.name | remove_first: "language-" | remove_first: ".md" | plus: 1}}"
          >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
      {% else %}
        <a 
          class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--next"
          href="language-0{{page.name | remove_first: "language-" | remove_first: ".md" | plus: 1}}"
          >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
      {% endif %}
    {% endif %}
  {% endif %}


  {% if page.path contains "extra-" %}
    <!-- Table of contents link start -->
    <a
      class="inter-lesson-navigation__anchor inter-lesson-navigation__anchor--toc"
      href="{{ "/" | absolute_url | append: page.lang | append: "/" }}#toc"
      >{{ site.data.translations['navigational-elements_toc'][page.lang] }}</a>
    <!-- Table of contents link end -->
  {% endif %}

</nav>
