<div class="language-switch">
  <img 
    class="language-switch_icon"
    src="{{ "/assets/images/language-icon.svg" | relative_url }}" 
    alt="Language icon"
    height="20"
    width="17.2">
  <select class="language-switch_select" id="myList" onchange="switchlang(this);">
    {% assign lang="en" %}
    {%- for l in site.languages -%}
      {% assign lx="/" | prepend: l %}
      {%- if page.path contains lx -%}
        {% assign lang = l %}
        <option selected value="{{l}}">{{l}}</option>
        {%- else -%}
        <option value="{{l}}">{{l}}</option>
      {%- endif -%}
    {%- endfor -%}
  </select>
</div>
