<ul 
  class="lessons-toc">
  {% assign mrdigits="०,१,२,३,४,५,६,७,८,९,१०,११,१२,१३,१४,१५,१६,१७" | split: "," %}
  {% assign splitprefix = include.prefix | split: "/" %}
  {% assign l = splitprefix[0] %}
  {% for page in site.pages | sort: 'path' %}
    {% if page.path contains include.prefix %}
      <li
        class="lessons-toc__list-item">
        <a 
          class="lessons-toc__anchor"
          href="{{page.path | replace: '.md','' | remove_first: l | remove_first: "/"}}">
          <h3
            class="lessons-toc__link-text">
            <span
              class="lessons-toc__numbering">
              {% if page.path contains "-0" %}
                {% assign pp = "-0" | prepend: include.prefix %}
              {% else %}
                {% assign pp = "-" | prepend: include.prefix %}
              {% endif %}
              {% if l == "mr" %}
                {% assign pageno = page.path | replace: '.md','' | replace: pp ,'' | floor %}
                {{ mrdigits[pageno] }}
              {% else %}
                {{ page.path | replace: '.md','' | replace: pp ,'' }}
              {% endif %}</span>
            <span
              class="lessons-toc__heading">
              {{ page.toc-anchor-text }}</span>
          </h3>
          <span
            class="lessons-toc__description-text"
            >{{ page.toc-description }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
