<footer class="website-footer">
  
  <!-- copyright start -->
  <div 
    class="website-footer-copyright">
    <div 
      class="wrapper">
      <span 
        class="copyright">
        {% if site.github.private != true and site.github.license %}
          <a href="{{ "/" | absolute_url }}about">This site</a> is under construction <a href="{{ site.github.repository_url }}/tree/master/{{ page.path }}">Git Source</a>.
        {% endif %}
      </span>
    </div>
  </div>
  <!-- copyright stop -->

</footer>
