<header class="website-header">

  <!-- wrapper start -->
  <div 
    class="wrapper">

    <!-- skip link start -->
    <a 
      href="#main" 
      class="visually-hidden focusable skip-link">{{ site.data.translations['skip-link'][page.lang] }}</a>
    <!-- skip link end -->

    <!-- website logo start -->
    <a 
      class="website-header--logo" 
      href="/">
      <img 
        src="{{ "/assets/images/logo.svg" | relative_url }}" 
        alt="Learn LaTeX logo"
        height="50"
        width="230">
    </a>
    <!-- website logo end -->

    <!-- language switch start -->
    {% include language-switch.html %}
    <!-- language switch end -->

  </div>
  <!-- wrapper end -->

</header>
