---
---
@import "reset";

/*----------------------------------------------------------------------------*/
/*  # ROOT ELEMENT: DEFAULT FONT SIZE                                         */
/*----------------------------------------------------------------------------*/
:root {
  font-size: 18px;
}





/*----------------------------------------------------------------------------*/
/*  # ROOT ELEMENT: VARIABLES - COLORS                                        */
/*----------------------------------------------------------------------------*/
:root {
  --color_white-0: rgba(255, 255, 255, 1);
  --color_black-0: rgba(0, 0, 0, 1);        /* ci black                       */
  --color_black-1: rgba(34, 34, 34, 1);     /* typo black                     */
  --color_black-2: rgba(68, 68, 68, 1);     /* typo black                     */
  --color_blue-0: rgba(0, 73, 128, 1);      /* ci blue                        */
  --color_blue-1: rgba(0, 52, 92, 1);       /* offset blue                    */
  --color_blue-2: rgba(44, 59, 99, 1);
  --color_blue-3: rgba(2, 119, 158, 1); 
  --color_blue-4: rgba(72, 120, 168, 1);
  --color_blue-5: rgba(31, 87, 164, 1);     /* typo blue                      */
  --color_grey-0: rgba(242, 242, 242, 1);
  --color_grey-1: rgba(227, 227, 229, 1);
  --color_grey-2: rgba(204, 204, 204, 1);
  --color_grey-3: rgba(88, 88, 88, 1);
  --color_grey-5: rgba(168, 168, 168, 1);
  --color_grey-6: rgba(234, 234, 234, 1);
  --color_grey-7: rgba(237, 237, 237, 1);   /* ci grey                        */
  --color_grey-8: rgba(246, 246, 246, 1);
}





/*----------------------------------------------------------------------------*/
/*  # ROOT ELEMENT: VARIABLES - FONTS                                         */
/*----------------------------------------------------------------------------*/
:root {
  --font_default-medium: 'NotoSans-Medium';
}
@font-face {
  font-family: 'NotoSans-Medium';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-Medium.woff2') format('woff2');
}

:root {
  --font_default-medium-italic: 'NotoSans-MediumItalic';
}
@font-face {
  font-family: 'NotoSans-MediumItalic';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-MediumItalic.woff2') format('woff2');
}

:root {
  --font_default-medium-semicondensed: 'NotoSans-SemiCondensedMedium';
}
@font-face {
  font-family: 'NotoSans-SemiCondensedMedium';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-SemiCondensedMedium.woff2') format('woff2');
}

:root {
  --font_default-regular: 'NotoSans-Regular';
}
@font-face {
  font-family: 'NotoSans-Regular';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-Regular.woff2') format('woff2');
}

:root {
  --font_default-regular-semicondensed: 'NotoSans-SemiCondensedRegular';
}
@font-face {
  font-family: 'NotoSans-SemiCondensedRegular';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-SemiCondensedRegular.woff2') format('woff2');
}

:root {
  --font_default-light: 'NotoSans-Light';
}
@font-face {
  font-family: 'NotoSans-Light';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-Light.woff2') format('woff2');
}

:root {
  --font_default-light-italic: 'NotoSans-LightItalic';
}
@font-face {
  font-family: 'NotoSans-LightItalic';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-LightItalic.woff2') format('woff2');
}

:root {
  --font_default-light-semicondensed: 'NotoSans-SemiCondensedLight';
}
@font-face {
  font-family: 'NotoSans-SemiCondensedLight';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-SemiCondensedLight.woff2') format('woff2');
}

:root {
  --font_default-light-condensed: 'NotoSans-CondensedLight';
}
@font-face {
  font-family: 'NotoSans-CondensedLight';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-CondensedLight.woff2') format('woff2');
}

:root {
  --font_default-thin: 'NotoSans-Thin';
}
@font-face {
  font-family: 'NotoSans-Thin';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-Thin.woff2') format('woff2');
}

:root {
  --font_default-thin-italic: 'NotoSans-ThinItalic';
}
@font-face {
  font-family: 'NotoSans-ThinItalic';
  font-display: fallback;
  src: url('/assets/fonts/NotoSans-ThinItalic.woff2') format('woff2');
}

:root {
  --font_default-mono-regular: 'NotoMono-Regular';
}
@font-face {
  font-family: 'NotoMono-Regular';
  font-display: fallback;
  src: url('/assets/fonts/NotoMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'FontAwesome';
  font-display: fallback;
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/fa-solid-900.woff2') format('woff2');
}





/*----------------------------------------------------------------------------*/
/*  # DEFAULTS                                                                */
/*----------------------------------------------------------------------------*/
html {
  color: var(--color_black-0);
  font-family: var(--font_default-light);
}





/*----------------------------------------------------------------------------*/
/*  # WRAPPER                                                                 */
/*----------------------------------------------------------------------------*/
.wrapper {
  max-width: 660px;
  margin: 0 auto;
  padding: 0 0.5rem;
}





/*----------------------------------------------------------------------------*/
/*  # HEADINGS                                                                */
/*----------------------------------------------------------------------------*/
h1,
.first-heading {
    font-family: var(--font_default-light);
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 0.6em;
}

h2,
.second-heading {
    font-family: var(--font_default-regular-semicondensed);
    font-size: 1.8em;
    font-weight: normal;
    margin: 1.3em 0 0.5em;
}

h3,
.third-heading {
    font-family: var(--font_default-light);
    font-size: 1.6em;
    margin: 1.4em 0 0.5em;
}

h4,
.fourth-heading {
    font-family: var(--font_default-regular);
    font-size: 1.4em;
    margin: 1.5em 0 0.6em;
}

h5,
.fifth-heading {
    font-family: var(--font_default-regular);
    font-size: 1.3em;
    margin: 1.6em 0 0.7em;
}

h6,
.sixth-heading {
    font-family: var(--font_default-regular);
    font-size: 1.2em;
    margin: 1.7em 0 0.8em;
}





/*----------------------------------------------------------------------------*/
/*  # TEXT-LEVEL                                                              */
/*----------------------------------------------------------------------------*/
p {
  color: var(--color_black-1);
  font-family: var(--font_default-light);
  font-size: 1rem;
  margin: 0 0 .8rem;
}

p b,
p strong {
  font-family: var(--font_default-regular);
  color: var(--color_black-2);
  font-weight: normal;
}

p i,
p em {
  font-family: var(--font_default-light-italic);
  font-style: italic;
}

p small {
  font-size: .8rem;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

main a:link,
main a:visited {
  color: var(--color_blue-0);
  text-decoration: none;
  overflow-wrap: break-word;
}

main a:hover,
main a:active,
main a:focus {
  text-decoration: underline;
}





/*----------------------------------------------------------------------------*/
/*  # UNIVERSAL NAVIGATION                                                    */
/*----------------------------------------------------------------------------*/
.universal-navigation {
  background: var(--color_blue-1);
  &__flex {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .language-switch,
    .search {
      align-self: flex-start;
      flex-basis: 0;
      flex-grow: 1;
      margin: .25rem 0;
    }
  }
}





/*----------------------------------------------------------------------------*/
/*  # LANGUAGE SWITCH                                                         */
/*----------------------------------------------------------------------------*/
.language-switch {
  &__select {
    background: var(--color_grey-7);
    border: 0.01rem solid var(--color_black-1);
    border-radius: .2rem;
    box-shadow: inset 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    font-size: .8rem;
    padding: .15rem .15rem .1rem;
  }
}





/*----------------------------------------------------------------------------*/
/*  # SEARCH                                                                  */
/*----------------------------------------------------------------------------*/
.search {
  form {
    display: inline;
    input {
      background: var(--color_grey-7);
      border: 0.01rem solid var(--color_black-1);
      border-radius: .2rem;
      box-shadow: inset 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
      float: right;
      font-size: .8rem;
      padding: .25rem .43rem .1rem;
    }
  }
}




/*----------------------------------------------------------------------------*/
/*  # HEADER                                                                  */
/*----------------------------------------------------------------------------*/
.website-header {
  background: var(--color_blue-0);
  margin: 0 0 2.5rem 0;
  padding: 1.8rem 0 1.3rem;

  a,
  &--logo:link,
  &--logo:visited, 
  &--logo:hover {
    border: none;
    color: var(--color_white-0);
    display: block;
    line-height: 0;
    text-decoration: none;
  }
  iframe {
    height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 300px;
  }
}





/*----------------------------------------------------------------------------*/
/*  # BREADCRUMB                                                              */
/*----------------------------------------------------------------------------*/
.breadcrumb {
  display: block;
  margin: 1.2rem 0;
}

.breadcrumb a:link,
.breadcrumb a:visited {
  color: var(--color_blue-0);
  text-decoration: none;
  overflow-wrap: break-word;
}

.breadcrumb a:hover,
.breadcrumb a:active,
.breadcrumb a:focus {
  text-decoration: underline;
}





/*----------------------------------------------------------------------------*/
/*  #TEXT-COLUMNS                                                             */
/*----------------------------------------------------------------------------*/
.text-columns {
  align-content: flex-start;
  align-items: flex-stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  section {
    align-self: flex-start;
    flex-basis: 0;
    flex-grow: 1;
    &:first-of-type {
      margin: 0 1.5rem 0 0;
    }
    &:last-of-type {
      margin: 0 0 0 1.5rem;
    }
  }
  &__heading {
    border-bottom: 0.01rem solid var(--color_grey-2);
    font-size: 1.4rem;
    margin: 2.5rem 0 1.2rem;
    padding: 0 0 .8rem;
  }
}





/*----------------------------------------------------------------------------*/
/*  #TABLES                                                                   */
/*----------------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1.5rem 0;
}

caption {
  font-size: 1rem;
  margin: 0 0 1.25rem;
  text-align: left;
}

tr {
  margin: 2rem 0 1rem 0;
  padding: 1rem .2rem;
}

th {
  border-bottom: 1px solid var(--color_black-0);
  padding: 0 .5rem .8rem;
  text-align: left;
  vertical-align: top;
}

table tr:nth-child(even) {
  background: var(--color_grey-0);
}

table td {
  padding: .3rem .5rem;
  vertical-align: top;
}

table td code {
  white-space: nowrap;
}





/*----------------------------------------------------------------------------*/
/*  #LESSONS TOC                                                              */
/*----------------------------------------------------------------------------*/
.lessons-toc {
  column-gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 2.2rem 0;

  @media (max-width: 38.125rem) {
    column-gap: 1rem;
  }
  @media (max-width: 37rem) { /* 592px */
    grid-template-columns: 1fr;
  }
  &__list-item {
    margin: 0 0 1.8rem;
  }
  &__anchor {
    &:hover {
      text-decoration: none;
    }
  }
  &__numbering {
    border-right: 1px solid var(--color_white-0);
    color: var(--color_black-2);
    display: inline-block;
    font-variant-numeric: tabular-nums;
    margin: 0 .4rem 0 0;
    padding: 0 .5rem 0 0;
    text-align: right;
    width: 1.6rem;
  }
  &__link-text {
    background: var(--color_grey-0);
    font-family: var(--font_default-regular-semicondensed);
    font-size: 1rem;
    margin: 0 0 .3rem 0;
    padding: .1rem 0;
    @media (max-width: 37rem) {
      font-family: var(--font_default-regular);
    }
  }
  &__description-text {
    color: var(--color_black-0);
    display: block;
    font-family: var(--font_default-light-semicondensed);
    font-size: .8rem;
    line-height: 1.2rem;
    margin: 0 0 0 2.85rem;
    @media (max-width: 37rem) {
      font-family: var(--font_default-light);
    }
  }
}





/*----------------------------------------------------------------------------*/
/*  # LESSONS                                                                 */
/*----------------------------------------------------------------------------*/
.lesson {
  .inter-lesson-navigation {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-basis: 40%;
    flex-direction: row;
    flex-grow: 2;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 0;
    &__anchor {
      flex-basis: 10rem;
      flex-grow: 1;
      font-size: .8rem;
      &--next,
      &--nextmain {
        text-align: right;
        &:after {
          content: "\f0a9";
          font-family: "FontAwesome";
          padding: 0 0 0 .5rem;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &--more {
        text-align: center;
        &:before {
          content: "\f055";
          font-family: "FontAwesome";
          padding: 0 .5rem 0 0;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &--return {
        &:before {
          content: "\f0aa";
          font-family: "FontAwesome";
          padding: 0 .5rem 0 0;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &--toc {
        &:before {
          content: "\f03a";
          font-family: "FontAwesome";
          padding: 0 .5rem 0 0;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  } 
}




/*----------------------------------------------------------------------------*/
/*  # ACE EDITOR - FIXME                                                      */
/*----------------------------------------------------------------------------*/
.ace_editor {
  border: 1px solid lightgray;
  margin-bottom: 1px !important;
  width: 100%;
  font-family: var(--font_default-mono-regular);
  font-size: .8rem;
  line-height: 1.2rem;
}

.ace_constant {
  color:blue !important;}

div.spacer {
  margin-top:16px;
}





/*----------------------------------------------------------------------------*/
/*  # FOOTER                                                                  */
/*----------------------------------------------------------------------------*/
.website-footer {
  background: var(--color_grey-7);
  font-size: 0.9rem;
  margin: 2.5rem 0 0;
  padding: 0;

  &:before {
    clear: both;
    content: " ";
  }
}

.website-footer-navigation {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 40%;
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 2.5rem;

  &__flex-items {
    flex-basis: 10rem;
    flex-grow: 1;
    padding: 0 1rem;
    text-align: center;
    
    &:first-of-type {
      padding: 0 1rem 0 0;
    
      @media (max-width: 35rem) {
        padding: 0 1rem;
      }
    }
    
    &:last-of-type {
      padding: 0 0 0 1rem;
      @media (max-width: 35rem) {
        padding: 0 1rem;
      }
    }

    @media (max-width: 35rem) {
      padding: 0 1rem;
    }
  }

  &__heading {
    border-bottom: 0.01rem solid var(--color_grey-2);
    margin: 2.5rem 0 .8rem;
    padding: 0 0 .6rem;

    .anchorjs-link {
      display: none;
      visibility: hidden;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
  }

  &__list-item {
    margin: 0;
    padding: 0;
  }

  &__anchor {
    color: var(--color_blue-0);
    text-decoration: none;

    &:hover {
      color: var(--color_black-0);
      text-decoration: underline;
    }
  }
}

.website-footer-languages {
  background: var(--color_white-0);
  border-top: 2.5rem solid var(--color_blue-0);
  padding: 1rem 0 1.4rem;
  text-align: center;

  .language-icon {
    margin: -2.1rem 0 1.4rem;
  }

  .language-navigation {
    background: none;

    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0 0 .25rem;
    }

    &__list-item {
      display: inline-block;
      line-height: 1rem;
      margin: 0 1.2rem 1.2rem;
      padding: 0;
      &:first-child {
        padding: 0;
      }
    }

    &__anchor {
      text-decoration: none;
      line-height: .8rem;
      overflow-wrap: break-word;

      &:hover {
        text-decoration: underline;
      }
    }
    
    &__label-regional {
      color: var(--color_blue-0);
      font-size: 1rem;
    }

    &__label-english {
      color: var(--color_grey-3);
      font-size: .7rem;
    }
  }
}




/*----------------------------------------------------------------------------*/
/*  # LANGUAGE NAVIGATION                                                     */
/*----------------------------------------------------------------------------*/
.language-navigation {
  background: var(--color_black-1);
}

.language-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: .15rem 0 .25rem;
}

.language-navigation__list-item {
  display: inline;
  font-size: .8rem;
  padding: 0 .6rem;
}

.language-navigation__list-item:first-child {
  padding: 0 .6rem 0 0;
}

.language-navigation__anchor {
  color: var(--color_grey-2);
  text-decoration: none;
  overflow-wrap: break-word;
}

.language-navigation__anchor:hover {
  color: var(--color_white-0);
  text-decoration: underline;
}

.language-navigation__anchor--active {
  color: var(--color_white-0);
  font-family: var(--font_default-regular);
  text-decoration: none;
}

.language-navigation__anchor--active:hover {
  text-decoration: none;
}





/*----------------------------------------------------------------------------*/
/*  # ACCESSIBILITY                                                           */
/*----------------------------------------------------------------------------*/
/* Hide visually but allow focus */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* Allow the Skip link to be focusable when navigated to via keyboard */
.skip-link.visually-hidden.focusable:focus {
  padding: .2rem 0;
}





/*----------------------------------------------------------------------------*/
/*  # HOME PAGE                                                               */
/*----------------------------------------------------------------------------*/
.home {
  background: var(--color_white-0);
  text-align: center;

  .website-header {
    background: var(--color_blue-0);
    color: var(--color_white-0);
    margin: 0 0 2.5rem;
    padding: 3.7rem 0 4.25rem;

    a,
    &--logo:link,
    &--logo:visited, 
    &--logo:hover {
      border: none;
      color: var(--color_white-0);
      display: inline-block;
      line-height: 0;
      text-decoration: none;
    }
  }

  .language-icon {
    margin: -3.74rem 0 1.4rem;
  }

  .language-navigation {
    background: none;

    &__list {
      list-style-type: none;
      margin: 0;
      padding: .15rem 0 .25rem;
    }

    &__list-item {
      display: inline-block;
      line-height: .9rem;
      margin: 1rem 1.2rem;
      padding: 0;
    }

    &__anchor {
      text-decoration: none;
      line-height: 1.1rem; overflow-wrap: break-word;

      &:hover {
        color: var(--color_blue-0);
      }
    }

    &__label-regional {
      color: var(--color_blue-0);
      font-size: 1.1rem;
    }

    &__label-english {
      color: var(--color_grey-3);
      font-size: .7rem;
    }
  }
}





/*----------------------------------------------------------------------------*/
/*  # START PAGE                                                              */
/*----------------------------------------------------------------------------*/
.start {
  
  main h1 {
    font-family: var(--font_default-light);
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 0.6em;
  }

  main h2.heading__introduction {
    font-family: var(--font_default-regular-semicondensed);
    font-size: 1.4rem;
    font-weight: normal;
    margin: 1.3em 0 0.5em;
    .anchorjs-link {
      display: none;
      visibility: hidden;
    }
  }

  main h2.heading__toc {
    border-bottom: 0.01rem solid var(--color_grey-2);
    font-family: var(--font_default-regular);
    font-size: 1.4rem;
    font-weight: normal;
    margin: 2.5rem 0 1.2rem;
    padding: 0 0 .8rem;
  }
}
