---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    {% if site.title and site.title == page.title %}
      <title>{{ page.title }}</title>
      {% else %}
      <title>{{ page.title }} | {{site.title}}</title>
    {% endif %}

    <!-- alternate links start -->
    {% include alternate-links.html %}
    <!-- alternate links end -->

    <link rel="icon" href="{{ "/assets/images/favicon.svg" | relative_url }}" type="image/svg+xml" sizes="any">
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="canonical" href="https://www.learnlatex.org/">

    <!-- script to run latex start -->
    <script src="{{ "/assets/scripts/runlatex.js" | relative_url}}"></script>
    <!-- script to run latex end -->

    <!-- adding anchors to headings start 1/2 --> 
    <script src="{{ "/assets/scripts/anchor.min.js" | relative_url }}"></script>
    <!-- adding anchors to headings end 1/2 --> 

    {% if page.path contains "-" or page.path contains "help" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js"></script>
    <style type="text/css" media="screen">
      .ace_editor {
	  border: 1px solid lightgray;
	  margin-bottom: 1px !important;
	  width: 100%;
      }
      .ace_constant{color:blue !important;}
      div.spacer {
	  margin-top:16px;
      }
    </style>
    <script src="includes/buttons.js"></script>
    {% endif %}

    <script>
      {% if site.title and site.title == page.title %}
        function switchlang(e) {
          window.location.href="{{ "/" | absolute_url }}" + e.value;
        }
      {% else %}
        function switchlang(e) {
          window.location.href=window.location.href.replace(/\/([^l][a-z]|[a-z][^l](-[a-zA-Z]+)?)\//,'/'+e.value+'/').replace(/\/language-.*/,'');
        }
      {% endif %}
    </script>

  </head>
  <body>

    <!-- skip link start -->
    <a 
      href="#main" 
      class="visually-hidden focusable skip-link"
      >{{ site.data.translations['skip-link'][page.lang] }}
    </a>
    <!-- skip link end -->

    <!-- language navigation start -->
    {% include alternative-languages.html %}
    <!-- language navigation stop -->

    <!-- website header start -->
    {% include website-header.html %}
    <!-- website header end -->

    <!-- title start -->
    <div class="wrapper">
      {% if site.title and site.title != page.title %}
        <span class="breadcrumb">
          {% if lang =="en" %}
            <a href="{{ "/" | absolute_url }}">Home</a>
          {%- else -%}
            <a href="{{ "/" | absolute_url }}{{ lang }}">{{ site.title }} ({{ lang }})</a>
          {% endif %}
        </span>
      {% endif %}
    </div>
    <!-- title end -->

    <!-- main content start -->
    <main
      id="main">

      <!-- wrapper start -->
      <div class="wrapper">
      {{ content }}

      <!-- inter-lesson links start -->
      {% if page.path contains "lesson-" %}
        <nav>
          <a 
            href="{{page.name | replace: "lesson-", "more-" | remove_first: ".md"}}"
            >{{ site.data.translations['navigational-elements_more'][page.lang] }}</a>
          <br>
          {% if page.path contains "lesson-16" %}
            <a 
              href="language-01"
              >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
          {% else %}
              {% if page.name contains "lesson-1" or page.name contains "lesson-09" %}
                <a 
                  href="lesson-{{page.name | remove_first: "lesson-" | remove_first: ".md" | plus: 1}}"
                  >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
              {% else %}
                <a 
                  href="lesson-0{{page.name | remove_first: "lesson-" | remove_first: ".md" | plus: 1}}"
                  >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
              {% endif %}
          {% endif %}
        </nav>
      {% endif %}

      {% if page.path contains "more-" %}
        <nav>
          <a 
            href="{{page.name | replace: "more-", "lesson-" | remove_first: ".md"}}"
            >{{ site.data.translations['navigational-elements_return'][page.lang] }}</a>
          <br>
          {% if page.path contains "more-16" %}
            <a 
              href="language-01"
              >{{ site.data.translations['navigational-elements_nextmain'][page.lang] }}</a>
          {% else %}
            {% if page.name contains "more-1" or  page.name contains "more-09" %}
              <a 
                href="lesson-{{page.name | remove_first: "more-" | remove_first: ".md" | plus: 1}}"
                >{{ site.data.translations['navigational-elements_nextmain'][page.lang] }}</a>
            {% else %}
              <a 
                href="lesson-0{{page.name | remove_first: "more-" | remove_first: ".md" | plus: 1}}"
                >{{ site.data.translations['navigational-elements_nextmain'][page.lang] }}</a>
            {% endif %}
          {% endif %}
        </nav>
      {% endif %}

      {% if page.path contains "language-" %}
        <nav>
          {% if page.next  %}
            <a 
              href="{{page.next}}"
              >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
          {% else %}
            {% if page.name contains "language-1" or  page.name contains "language-09" %}
              <a 
                href="language-{{page.name | remove_first: "language-" | remove_first: ".md" | plus: 1}}"
                >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
            {% else %}
              <a 
                href="language-0{{page.name | remove_first: "language-" | remove_first: ".md" | plus: 1}}"
                >{{ site.data.translations['navigational-elements_next'][page.lang] }}</a>
            {% endif %}
          {% endif %}
        </nav>
      {% endif %}
      <!-- inter-lesson links end -->

      </div>
      <!-- wrapper end -->

    </main>
    <!-- main content end -->

    <!-- website footer start -->
    {% include website-footer.html %}
    <!-- website footer end -->

    <!-- language navigation start -->
    {% include alternative-languages.html %}
    <!-- language navigation stop -->

    <!-- adding anchors to headings start 2/2 --> 
    <script>anchors.add();</script>
    <!-- adding anchors to headings end 2/2 -->

  </body>
</html>
