---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    {% if site.title and site.title == page.title %}
      <title>{{ page.title }}</title>
      {% else %}
      <title>{{ page.title }} | {{site.title}}</title>
    {% endif %}
  {% assign mrdigits="०,१,२,३,४,५,६,७,८,९,१०,११,१२,१३,१४,१५,१६,१७" | split: "," %}
    <!-- alternate links start -->
    {% include alternate-links.html %}
    <!-- alternate links end -->

    <link rel="icon" href="{{ "/assets/images/favicon.svg" | relative_url }}" type="image/svg+xml" sizes="any">
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="canonical" href="https://www.learnlatex.org/{{ page.lang }}/">

    <!-- script to run latex start -->
    <script src="{{ "/assets/scripts/runlatex.js" | relative_url}}"></script>
    <!-- script to run latex end -->

    <!-- adding anchors to headings start 1/2 --> 
    <script src="{{ "/assets/scripts/anchor.min.js" | relative_url }}"></script>
    <!-- adding anchors to headings end 1/2 --> 

    <!-- ace editor and buttons start -->
    {% include ace-editor.html %}
    <!-- ace editor and buttons end -->

    <script>
      {% if site.title and site.title == page.title %}
        function switchlang(e) {
          window.location.href="{{ "/" | absolute_url }}" + e.value;
        }
      {% else %}
        function switchlang(e) {
          window.location.href=window.location.href.replace(/\/([^l][a-z]|[a-z][^l](-[a-zA-Z]+)?)\//,'/'+e.value+'/').replace(/\/language-.*/,'');
        }
      {% endif %}
    </script>

  </head>
  <body
    class="lesson">

    <!-- skip link start -->
    <a 
      href="#main" 
      class="visually-hidden focusable skip-link"
      >{{ site.data.translations['skip-link'][page.lang] }}
    </a>
    <!-- skip link end -->

    <!-- website header start -->
    {% include website-header.html %}
    <!-- website header end -->

    <!-- primary navigation start -->
    {% include primary-navigation.html %}
    <!-- primary navigation end -->

    <!-- main content start -->
    <main
      id="main">

      <!-- wrapper start -->
      <div 
        class="wrapper">

        <!-- meta lesson information start -->
        {% assign language = page.lang %}
        <span
          class="meta"
          >{{ site.data.translations['informational-elements_lesson'][page.lang] }}
              {% if page.lang == "mr" %}
                {% assign pageno = page.path | replace: '.md','' | replace: language ,'' | remove_first: '/' | replace: 'lesson-' ,'' | replace: 'more-' ,'' | replace: 'language-', '' | replace: 'extra-', '' | floor %}
                {{ mrdigits[pageno] }}
              {% else %}
	  {{ page.path | replace: '.md','' | replace: language ,'' | remove_first: '/' | replace: 'lesson-' ,'' | replace: 'more-' ,'' | replace: 'language-', '' | replace: 'extra-', '' | round: 2 }}
	{% endif %}</span>
        <!-- meta lesson information end -->

        <!-- inter-lesson links start -->
        <!-- FIXME: Links on top should only include inter lesson links, not "more on this topic" links -->
        {% include inter-lesson-links.html %}
        <!-- inter-lesson links end -->


        {{ content }}

        <!-- inter-lesson links start -->
        {% include inter-lesson-links.html %}
        <!-- inter-lesson links end -->

      </div>
      <!-- wrapper end -->

    </main>
    <!-- main content end -->

    <!-- website footer start -->
    {% include website-footer.html %}
    <!-- website footer end -->

    <!-- adding anchors to headings start 2/2 --> 
    <script>anchors.add();</script>
    <!-- adding anchors to headings end 2/2 -->

  </body>
</html>
